.cart_popover {
    ::-webkit-scrollbar {
        width: 8px; // Điều chỉnh độ rộng của toàn bộ thanh scrollbar
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fa5030; // Màu nền của thanh trượt
        border-radius: 5px; // Bo tròn góc của thanh trượt
    }

    ::-webkit-scrollbar-track {
        background-color: #f5f5f5; // Màu nền của phần trống
    }

    ::-webkit-scrollbar-button {
        display: none; // Ẩn các nút mũi tên ở 2 đầu
    }
}