.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;

    transition: all 0.3s ease-in-out;


    &:focus {
        border: 1px solid black;
        outline: none;

        transition: all 0.3s ease-in-out;
    }
}