.user_input {
    padding: 8px;
    border: #ccc 1px solid;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;

    &:hover {
        border: gray 1px solid;
        transition: border-color 0.3s ease-in-out;
    }

    &:focus {
        outline: none;
        border: black 1px solid;
        transition: border-color 0.3s ease-in-out;
    }
}

.user_input_birthdate {
    padding: 8px;
    border: #ccc 1px solid;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    width: 100%;

    &:hover {
        border: gray 1px solid;
        transition: border-color 0.3s ease-in-out;
    }

    &:focus {
        outline: none;
        border: black 1px solid;
        transition: border-color 0.3s ease-in-out;
    }
}